body{
    /* background-color:rgb(204, 189, 216); */
    background-color: white;
    height: 100vh;
}
.slide{
    width: 600px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(204, 189, 216);
}
.topnav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: rgb(14, 14, 98);
}