<app-navbar></app-navbar>
<p>My name is {{name | uppercase}}</p>
<h1>{{date | date}}</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>Class</td>
    </tr>
    <tr>
        <td>{{obj.name}}</td>
        <td>{{obj.age}}</td>
        <td>{{obj.class}}</td>
    </tr>
</table>

<input [(ngModel)]="todo" type="text">
<button (click)="addtodo()">Add Todo</button>
<p>{{show}}</p>
<h1 *ngIf="alltodo.length == 0">There is no todo</h1>

<div *ngFor="let i = index; let element of alltodo">
   <h1 class="text-secondary">{{element}} <button class="bg-danger" (click)="deltodo(i)">&times;</button></h1>
</div>
<style>
    table{
        border: 1px solid black;
    }
    td{
        border: 1px solid black;  
        height: 20px;
    }
</style>
<app-footer></app-footer>